In [1]:
import xarray as xr
import pandas as pd
import numpy as np
import gc
import time
import sys

In [2]:
def multi_scenarios(job_id, sc_number_start, sc_number_end, time_length):
    vari_ls = []
    p1 = "/data/keeling/a/zzheng25/d/partmc-simulations/"
    p2 = ".bw/scenarios/scenario_"
    p3 = "/out/urban_plume_mixing_state_new.nc"
    
    for i in range(sc_number_start, sc_number_end+1):
        sc_id = "%04i" %i  #define the file number
        print("scenario id:", sc_id)
        
        # get mixing state metrics
        msm_nc = xr.open_dataset(p1+job_id+p2+sc_id+p3)
        msm = msm_nc[['chi_hyg','chi_opt1','chi_opt2',
                      'chi_opt3','chi_abd']].to_dataframe().reset_index()
        
        vari_ls.append(msm)
        
        del msm_nc, msm
        gc.collect()
        
    # concat the df from different scenarios    
    df_final = pd.concat(vari_ls).reset_index(drop=True) 
    
    return df_final

In [3]:
job_id = "10642359"
sc_number_start=0
sc_number_end=2
time_length=25

df_final = multi_scenarios(job_id, sc_number_start, sc_number_end, time_length)
df_final

scenario id: 0000
scenario id: 0001
scenario id: 0002

       time   chi_hyg  chi_opt1  chi_opt2  chi_opt3   chi_abd
0       0.0  0.447339  0.499444  0.390160  0.556417  0.418609
1    3600.0  0.435485  0.479840  0.379602  0.536521  0.413380
2    7200.0  0.420944  0.466962  0.368199  0.519652  0.408557
3   10800.0  0.411654  0.463848  0.354982  0.523173  0.393731
4   14400.0  0.432485  0.487039  0.375870  0.544974  0.419712
..      ...       ...       ...       ...       ...       ...
70  72000.0  0.403465  0.697505  0.295671  0.466250  0.763637
71  75600.0  0.403862  0.698207  0.297259  0.465320  0.761031
72  79200.0  0.405871  0.698480  0.303156  0.463349  0.760176
73  82800.0  0.405403  0.696936  0.306358  0.460093  0.762930
74  86400.0  0.410382  0.701017  0.298261  0.474535  0.769493

[75 rows x 6 columns]